In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [3]:
pml = pd.read_csv('pml_train.csv')

In [4]:
pml.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,0,A,A,A,A,B,A,A,A,A,...,0.669748,0.515940,0.55421,0.53774,0.47225,0.492200,0.481306,0.756454,0.344502,2152.80
1,1,B,A,A,A,A,B,A,A,A,...,0.484775,0.698278,0.35533,0.40657,0.40666,0.468839,0.458493,0.304350,0.470455,1019.89
2,2,A,A,A,B,A,A,A,A,A,...,0.350956,0.363768,0.58354,0.44352,0.39599,0.341813,0.352251,0.339244,0.283969,4477.83
3,3,B,A,A,A,A,B,A,A,A,...,0.748243,0.538694,0.54829,0.50420,0.51111,0.711942,0.698722,0.709578,0.776114,907.11
4,4,A,B,A,A,A,A,A,A,B,...,0.321058,0.326430,0.31280,0.39648,0.38016,0.245410,0.241676,0.261150,0.342082,974.62

In [5]:
pml.describe()

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
count,131822.00000,131822.000000,131822.000000,131822.000000,131822.000000,131822.000000,131822.000000,131822.000000,131822.000000,131822.00000,131822.000000,131822.000000,131822.000000,131822.000000,131822.000000,131822.000000
mean,65910.50000,0.493342,0.507205,0.499348,0.491129,0.486648,0.490494,0.485201,0.486195,0.48512,0.497715,0.493509,0.493151,0.492624,0.495778,3039.973828
std,38053.87793,0.187592,0.207240,0.202093,0.211094,0.208703,0.205043,0.178781,0.199229,0.18146,0.185664,0.209614,0.209308,0.212643,0.222450,2913.957535
min,0.00000,0.000016,0.001149,0.002634,0.176921,0.281143,0.012683,0.069503,0.236880,0.00008,0.000000,0.035321,0.036232,0.000228,0.180268,5.250000
25%,32955.25000,0.344779,0.358319,0.336963,0.327354,0.281143,0.335056,0.350378,0.312800,0.35897,0.364580,0.310961,0.312482,0.315758,0.294752,1204.890000
50%,65910.50000,0.475784,0.555782,0.527991,0.452887,0.422268,0.439786,0.438480,0.441060,0.43731,0.461190,0.457203,0.462286,0.363547,0.407411,2116.585000
75%,98865.75000,0.623912,0.681761,0.634224,0.652072,0.635304,0.653958,0.591284,0.623580,0.55855,0.614590,0.678924,0.675759,0.689974,0.724610,3865.105000
max,131821.00000,0.984975,0.862654,0.944251,0.952482,0.983674,0.997162,1.000000,0.980200,0.99540,0.994980,0.998742,0.998484,0.988494,0.844844,121012.250000

In [6]:
pml.columns

Index(['id', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9',
       ...
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12',
       'cont13', 'cont14', 'loss'],
      dtype='object', length=132)

In [7]:
pml_train_y = pml.loss
pml_train_X = pml.drop(columns=['id', 'loss'])
pml_train_X.shape

(131822, 130)

In [8]:
pml_train_d_X = pd.get_dummies(pml_train_X)
pml_train_d_X.shape

(131822, 1111)

In [9]:
pml_test = pd.read_csv('pml_test_features.csv')
pml_test_X = pml_test.drop(columns=['id'])
pml_test_X.shape

(56496, 130)

In [10]:
# one-hot encoded test
pml_test_d_X = pd.get_dummies(pml_test)
pml_test_d_X.shape

(56496, 1066)

In [11]:
cDrop = [c for c in pml_test_d_X.columns if c not in pml_train_d_X.columns]
print(cDrop)
pml_test_d_X.drop(columns = cDrop, inplace=True)

for c in pml_train_d_X.columns:
    if c not in pml_test_d_X.columns:
        pml_test_d_X[c] = 0
print(pml_test_d_X.shape)

['id', 'cat75_C', 'cat89_H', 'cat92_F', 'cat99_O', 'cat101_H', 'cat102_H', 'cat103_N', 'cat105_T', 'cat107_S', 'cat109_AG', 'cat109_BF', 'cat109_BT', 'cat109_BV', 'cat109_CB', 'cat109_J', 'cat110_AS', 'cat110_BD', 'cat110_BK', 'cat110_BM', 'cat110_CB', 'cat110_DV', 'cat113_P', 'cat114_G', 'cat116_AH', 'cat116_AM', 'cat116_AN', 'cat116_AP', 'cat116_AT', 'cat116_EQ', 'cat116_EV', 'cat116_FI', 'cat116_FJ', 'cat116_FN', 'cat116_FO', 'cat116_HU', 'cat116_IO', 'cat116_IV', 'cat116_J', 'cat116_JA', 'cat116_JI', 'cat116_JN', 'cat116_MB']
(56496, 1111)

In [12]:
pml_test_d_X.head()

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,...,cat116_MH,cat116_MS,cat116_MT,cat116_MV,cat116_O,cat116_Q,cat116_R,cat116_S,cat116_V,cat116_W
0,0.474338,0.488789,0.634224,0.844287,0.491114,0.417611,0.347261,0.58354,0.50630,0.39068,...,0,0,0,0,0,0,0,0,0,0
1,0.907272,0.737068,0.336963,0.738221,0.380560,0.843479,0.502621,0.94403,0.93383,0.83510,...,0,0,0,0,0,0,0,0,0,0
2,0.899689,0.620805,0.484196,0.594598,0.794794,0.808958,0.478205,0.72299,0.94438,0.83510,...,0,0,0,0,0,0,0,0,0,0
3,0.330514,0.737068,0.613660,0.473202,0.908217,0.240069,0.283691,0.24564,0.30859,0.32446,...,0,0,0,0,0,0,0,0,0,0
4,0.480125,0.358319,0.484196,0.373816,0.674529,0.317735,0.362399,0.26847,0.41471,0.43919,...,0,0,0,0,0,0,0,0,0,0

In [13]:
pml_test.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,131822,B,A,A,B,A,B,A,A,A,...,0.491114,0.417611,0.347261,0.58354,0.50630,0.39068,0.331363,0.359249,0.312885,0.657978
1,131823,A,A,A,B,A,A,A,A,A,...,0.380560,0.843479,0.502621,0.94403,0.93383,0.83510,0.832976,0.832658,0.812550,0.379962
2,131824,A,B,A,A,B,A,A,A,B,...,0.794794,0.808958,0.478205,0.72299,0.94438,0.83510,0.933174,0.926619,0.848129,0.808658
3,131825,A,A,A,A,A,B,A,A,A,...,0.908217,0.240069,0.283691,0.24564,0.30859,0.32446,0.223038,0.220003,0.333292,0.211134
4,131826,B,B,B,A,A,A,A,A,B,...,0.674529,0.317735,0.362399,0.26847,0.41471,0.43919,0.307628,0.301921,0.315758,0.295602

In [16]:
a = 3

Feature Engineering

In [14]:
pml_train_cont = pml_train_X.filter(regex=("cont\d*"))
pml_train_cont.head()

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,0.480125,0.358319,0.215772,0.713852,0.577339,0.669748,0.515940,0.55421,0.53774,0.47225,0.492200,0.481306,0.756454,0.344502
1,0.351358,0.681761,0.777587,0.182950,0.281143,0.484775,0.698278,0.35533,0.40657,0.40666,0.468839,0.458493,0.304350,0.470455
2,0.497513,0.737068,0.549770,0.452887,0.499798,0.350956,0.363768,0.58354,0.44352,0.39599,0.341813,0.352251,0.339244,0.283969
3,0.452710,0.488789,0.506105,0.473202,0.281143,0.748243,0.538694,0.54829,0.50420,0.51111,0.711942,0.698722,0.709578,0.776114
4,0.434106,0.358319,0.419161,0.838840,0.491114,0.321058,0.326430,0.31280,0.39648,0.38016,0.245410,0.241676,0.261150,0.342082

## Train

In [ ]:
train_d_X, test_d_X, train_d_y, test_d_y =   train_test_split(pml_train_d_X, pml_train_y, random_state=2018, test_size=0.2)

In [ ]:
regr = RandomForestRegressor(n_estimators=20,criterion = 'mae',
                             max_leaf_nodes = 5, random_state = 2018)
regr.fit(train_d_X, train_d_y)

In [ ]:
regr.score(test_d_X, test_d_y)

In [ ]:
result = regr.predict(pml_test_d_X)
result.shape

In [ ]:
pml_test.shape

In [ ]:
pml_ans1 = pd.DataFrame({'id' : pml_test['id'],
                       'loss': result})
pml_ans1.head()

In [ ]:
pml_ans1.to_csv('./answer1.csv',index=False)

In [ ]:
regr_2 = RandomForestRegressor(n_estimators=40,criterion = 'mae',
                             max_leaf_nodes = 2, random_state = 2018)
regr_2.fit(train_d_X, train_d_y)

In [ ]:
regr_2.score(test_d_X, test_d_y)

In [ ]:
result2 = regr.predict(pml_test_d_X)
result2.shape

In [ ]:
pml_ans2 = pd.DataFrame({'id' : pml_test['id'],
                       'loss': result2})
pml_ans2.head()

In [ ]:
pml_ans2.to_csv('./answer2.csv',index=False)